:root {
    --light-gray: #3b3b3b;
    --dark-gray: #1b1b1b;
    --tab-percentage: 20rem;
}

html, body {
    background-color: #3b3b3b;
    font-family: 'Poppins', sans-serif; 
  }

.home-container{    
    height: 100vh;
    width: 100%;
    color: aliceblue;
    
    margin: 0;
    padding: 0;
    display: flex;
}

.add-task-button {
    height: 7rem;
    border: none;
    border-radius: 3rem;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: white;
    font: inherit;
    font-size: 1.5rem;
    width: 60%;

}

.add-task-button:hover {
    background-color: #444444;
    transition: .2s;
}

.add-task-button:active {
    background-color: #0a0a0a;  
    transition: 0s;
    }

.task-modal {
    border-radius: 3rem;
    /* border: none; */
    border: #5e5e5e solid;
    background-color: var(--dark-gray);
    color: white;
    width: 30%;
    height: 80%
}
dialog.modal {
    border: none;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: right;
  }

.modal-header {
    display: flex;
    gap: 2rem;
    justify-content: right;
    padding-left: 4rem;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}
.check-box1 {
    width: 2rem;
    height: 2rem;
}
.checkbox-group {
    display: flex;
    gap: .5rem;
    align-items: center;    
}
.modal-input{
    height: 3rem;
    border-radius: .5rem;
    border: none;
    width: 20rem;
    font: inherit;
    font-size: 1rem;
    padding-left: 1rem;
    display: flex;
    justify-content: right;

}
.modal-input:focus{
    outline: none;
    border: none;
}

.task-styling {
    display: flex;
    flex-direction: column;
    font-size: large;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap:.3rem;
}
.close-button  {
    padding: 0;            
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
  }

.optional-text {
    color: #6d6d6d;
}

.close-button:active  {
    padding: 0; 
    color: #4e4e4e;           
}



  dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
  .count-class {
    border-radius: 10rem;
    background-color: #947272;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    ;
  }
.plus-sign {
    font-size: 5rem;
    
    background: linear-gradient(90deg, green, blue, red, indigo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    -webkit-text-stroke: .07rem rgb(182, 182, 182);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;    
    padding: 2rem;
    font-size: 2rem;
    background-color: #1b1b1b;
    margin: 5rem 5rem 5rem 5rem;
    justify-content: space-between;
    border-radius: 2rem;
    
}

.nav-right {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    gap: 1rem;
}
/* 
.sidebar {
    background-color: #13263d;
    padding: 2rem;
    width: 20%;
    border-radius: 2rem;
    margin: 2rem;
} */

.right-section {
    width: 100%;    
    display: flex;
    flex-direction: column;  
    height: 100%;
    margin: 0;
    /* margin-left: 2rem;   */
}

.task-complete-button {
    width: 2rem;
    height: 2rem;
    border-radius: 100rem;
    background-color: inherit;
    /* transition: all 1s; */
}



.task-complete-button:active {
    background-color: rgb(46, 46, 46);
}

.search-bar {
    border-radius: 1rem;
    border: none;
    height: 1rem;
    padding: 1rem;
    outline: none;
    font: inherit;
    font-size: 1rem;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    width: 70%
}

.dashboard {
    background-color: #1b1b1b;
    padding: 2rem;
    margin: 0rem 5rem 5rem 5rem;
    border-radius: 2rem;   
    flex: 1;
    font-size: 2rem;   
    display: flex;
    justify-content: left;
    height: 100%
    
}

.welcome-message {
    display: flex;    
    justify-content: space-between;    
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    
}

.add-task-button-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.welcome-unit {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    
}
.greeting {
    font-size: 2.5rem;
}
.muted {
    font-weight: 300;
    color: rgb(145, 145, 145)
}
.task-container {
    /* margin-top: 0rem; */
    padding-top: 1rem;
    background-color: var(--light-gray);    
    /* background-color: rgb(167, 79, 79);     */
    height: 100%;
    border-radius: 2rem;
    padding: 2rem;
    justify-content: left;
    display: flex;   
}

.task-text-group {
    width: 100%;
}

.task-list {
    width: 100%;
}

.task {
    background-color: #FDE0D9;
    color: black;
    border-radius: 2rem;
    padding: 1rem;   
    display: flex; 
    align-items: center;
    gap: 1rem;
}

.category-text {
    font-size: 1rem;
}



.shadow {
    -webkit-box-shadow: 0px 5px 14px 2px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 5px 14px 2px rgba(0,0,0,0.44);
    box-shadow: 0px 5px 14px 2px rgba(0,0,0,0.44);
}

.right-section2 {
    padding-left: 3rem;    
    display: flex;
    flex-direction: column;       
    width: 100%;
    height: 100%;
}


.left-section {
    
}

.tab-container {
    display: flex;
    justify-content: center;
    gap: .3rem;
    padding-left: 3rem;
    padding-right: 3rem;      
    
    
}

.tab-button {
    align-items: center;
    font: inherit;
    background-color: #1b1b1b;;
    color: white;
    border: none;    
    border-radius: 1rem;    
    transition: all 0.3s ease;
    z-index: 20; 
    
       

    
}

.tab-button:hover{
    background-color: rgb(65, 65, 65);
}

.active-tab{
    font: inherit;
    background-color: var(--light-gray);
    /* background-color: rgb(41, 41, 41); */
    color: white;
    border: none;
    /* flex: 1; */
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    
    
}


.tab {
    width: 100%;
    font-size: 1.1rem;;
    padding-top: .4rem;
    padding-bottom: .4rem;
}

.tab-text {
    z-index: 10;
    margin-top: .6rem;

    margin-bottom: .6rem;
}

.left-box {
    background-color: var(--light-gray);
    width: 20px;
    height: 20px;    
}

.left-circle {
    background-color: var(--dark-gray);
    width: 40px;
    height: 40px;    
    border-radius: 20rem;
    z-index: 10;
    margin-right: -20px;
    margin-left: -40px;
}

.right-circle {
    background-color: var(--dark-gray);
    width: 40px;
    height: 40px;    
    border-radius: 20rem;    
    z-index: 3;
    margin-left: -20px;
    margin-right: -40px;
}
.nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-button {
    background-color: inherit;
    color: inherit;
    font: inherit;
    border-radius: 3rem;
    padding: 1rem;
    font-size: 1rem;
}
.right-box {
    background-color: var(--light-gray);
    width: 20px;
    height: 20px;    
    

}


.submit-button {
    font: inherit;
    border-radius: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--light-gray);
    border: none;
    color: white;
}

.submit-button:hover {
    background-color: #444444;
}

.submit-button:active {
    background-color: #000000;
}

.tab-button-container {
    display: flex;   
    flex: 1;
    justify-content: center;
    align-items: end;    
}

.only-tab-text{
    display: flex;
    justify-content: center;
    gap: .4rem;
    align-items: center;
}

@media (max-width: 1022px) {
    /* body {
      background-color: lightcoral;
    } */
     .dashboard {
        flex-direction: column;
        margin: 1rem;
        height: 100%;
     }
     .home-container {
        height: 100vh;
     }
     .left-section {
        width: 100%;
        
     }
     .greeting{
        font-size: 1rem;
     }

     .welcome-unit {
        font-size: .5rem;
     }
     .tab-container {
        width: 60%;
        font-size: 10px;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        justify-content: center;
        gap: .3rem;   
     }

     .task-modal {
        width: 80%;
        height: 80%
    }

  


     .right-section2 {
        padding-left: 0rem;
        display: flex;
        justify-content: right;
        align-items: center;
        height: 100%
    }



    .tab {        
        font-size: .7rem;;
        padding-top: .4rem;
        padding-bottom: .4rem;
        
        
    }
    .task-text {
        font-size: 1rem;
    }
    .category-text {
        font-size: .6rem;
    }

    .tab-button-container {
        display: flex;   
        padding-left: 0;
        padding-right: 0;
        
        
    }

    .task-container {
        width: 80%;
        height: 100%;
    }

    nav {
        
        margin: 3rem 1rem 1rem 1rem;

    }

    .left-box {
        width: .5rem;
        height: .5rem;
        margin-left: -.5rem;
    }
    .left-circle {
        width: 1rem;
        height: 1rem;
        margin-right: 0rem;
    }
    
    .right-box {
        width: .5rem;
        height: .5rem;
        margin-right: -.5rem;
    }
    .right-circle {
        width: 1rem;
        height: 1rem;
        margin-left: 0rem;
    }
    
    .active-tab {
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    }