html, body {
    margin: 0;
    padding: 0;    
    font-family: 'Poppins', sans-serif; 
}

.container {
    display: flex;
    background-color: rgb(19, 19, 19);
}

.login-wrapper {
    width: 30%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;       
    background-color: rgb(65, 65, 65)
}

.branding-wrapper {
width: 70%;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;       


color: rgb(255, 255, 255);
font-family: "Playwrite MX Guides", cursive;
font-weight: 400;
font-style: normal;
font-size: 9rem;

   


} 

.clerk-part {
    width: 1px;
}
  
